:root {
    /* Home */
    --color-html:          #e44c26;
    --color-css:           #379ad6;
    --color-js:            #f7e018;
    --color-node:          #81bd0d;

    /* Numbers/Misc */
    --project-gradient: linear-gradient(90deg, var(--main-bg) 0%, transparent 100%);
    --project-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    --project-box-shadow-hover: 6px 6px 16px rgba(0, 0, 0, 0.5);
}
body.theme_light {
    --project-gradient: linear-gradient(90deg, var(--main-bg) 20%, transparent 100%);
    --project-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    --project-box-shadow-hover: 6px 6px 16px rgba(0, 0, 0, 0.2);
}

/* Landing */
#banner.video_main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    /* height: calc(100vh + var(--wave-offset)); */
    height: 100vh;
}
/* .theme_light #banner.video_main {
    filter: invert() hue-rotate(180deg) brightness(90%);
} */
.banner {
    animation: 2s banner_fade cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
@keyframes banner_fade {
    from { filter: brightness(0%) }
}
#home {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
}
#home_center {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 0 12px;
}
#home .home_block {
    width: 100%;
    padding: 20px;

    background-color: var(--transparent-bg);
    border: 1px solid var(--border-transparent);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);

    position: relative;
    transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

    animation: floatin 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: backwards;
}
@keyframes floatin   { 0% { transform: translateY(48px); } }
#home .home_block:hover {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6),
                inset 0 0 10px rgba(255, 255, 255, 0.075);
}
#home .home_hello {
    padding: 24px 26px;
    width: 386px;
    flex: unset;
    margin-right: 200px;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
}
#home .home_more {
    width: 280px;
    margin-left: 180px;
    margin-top: -75px;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
}
#home .big_title {
    font-size: 40pt;
    padding-bottom: 2px;
    line-height: 100%;
}
#home .big_title_accent {
    font-family: var(--title-font);
    
    background-color: var(--accent-color);
    background-image: linear-gradient(65deg, var(--gradient-a) 0%, var(--gradient-b) 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    transition: background-position 2s ease;
}
#home .home_hello .big_title_accent:hover { background-position: 499px; }
#home p.tagline { font-size: 16pt; }

/* #home_content {
    font-size: 140pt;
    padding-left: 12px;
    text-shadow: 12px 16px 0 rgb(63, 9, 134);
} */


/* Reduce Motion */
/* #home #reduce_motion {
    position: absolute;
    right: 32px;
    bottom: 32px;
    text-shadow: 1px 1px 4px black;

    width: 100%;
    max-width: 300px;
    padding: 8px 16px;
    background-color: var(--transparent-bg);
    border-radius: 20px;
    border: 1px solid var(--border-transparent);
} */
/* .wave_decoration {
    background-image: url(./assets/decoration/wave.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;

    width: 100%;
    height: var(--wave-offset);

    position: absolute;
    bottom: -100px; left: 0; right: 0;
}
@media screen and (min-width: 1600px) {
    .wave_decoration { background-position: center top; }
} */

/* Skills */
#skills {
    /* Variables */
    --angle: 60deg;
    --start-percent: -500%;
    --end-color: var(--lighter-bg);
    --end-percent: 150%;

    /* CSS */
    position: relative;
    align-items: center;
}
#skills_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    width: calc(50% - 6px);
    height: auto;
    min-height: 88px;
    padding: 1px;
    margin-top: 12px;
    border-radius: 6px;

    /* background-color: var(--lighter-bg); */
    /* border: 1px solid var(--border-color); */
    background-color: var(--border-color);
}
.skill > .skill_content {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 12px 16px;
    /* background: var(--lighter-bg); */
    background: linear-gradient(var(--angle), var(--border-color) var(--start-percent), var(--end-color) var(--end-percent));

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    --border-color: var(--lighter-bg);
}


.skill img {
    height: 48px;
    width: 48px;
    margin-right: 16px;
    border-radius: 6px;
}

/* Skill colors */
/* #region */
#skill_html img { background-color: var(--color-html); }
#skill_html, #skill_html > .skill_content { --border-color: var(--color-html); }
#skill_css img  { background-color: var(--color-css); }
#skill_css, #skill_css > .skill_content { --border-color: var(--color-css); }
#skill_js img   { background-color: var(--color-js); }
#skill_js, #skill_js > .skill_content { --border-color: var(--color-js); }
#skill_node img { background-color: var(--color-node); }
#skill_node, #skill_node > .skill_content { --border-color: var(--color-node); }
#skill_photoshop img { background-color: #001e36; border: 2px solid #31a8ff; }
/* #endregion */

/* Shapes */
#skills #visual_layer {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
#skills #visual_layer div {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: var(--lighter-bg);
}
#skills #visual_layer .circle {
    border-radius: 50%;
    top: 28%;
    left: -60px;
}
#skills #visual_layer .triangle {
    border: 65px solid var(--main-bg);
    border-bottom-color: var(--lighter-bg);
    transform: rotate(8deg) scale(1, 1.8);
    top: 56%;
    right: -72px;
}

/* Projects list */
/* View more */
#projects_list summary {
    background-color: var(--main-bg);
    border-radius: 6px;
    border: 1px solid var(--border-color);

    font-family: var(--title-font);
    font-weight: 500;
    font-size: 12pt;

    width: 100%;
    height: auto;
    padding: 8px 12px;
    margin: 6px 0 12px;
    transition: 0.1s border-color ease;
}
#projects_list summary:hover {
    filter: brightness(110%);
    border-color: var(--text);
}
#projects_list details .project_item {
    width: 100%;
    height: 120px;
}

/* Contact */
#contact_list {
    font-size: 12pt;

    display: flex;
    gap: 12px;
}
#contact_list > * {
    flex: 1;
}
#contact_list > .right_col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 33%;
}
.contact_item {
    background-color: var(--lighter-bg);
    padding: 8px 12px;
    border-radius: 8px;
}
.contact_item img.icon {
    margin: 4px 12px 0 2px;
    width: 32px;
    height: 32px;

    opacity: 0.8;
}
.contact_item:target {
    outline: 2px solid var(--accent-color);
    /* border-left: 8px solid var(--accent-color); */
    /* background-color: var(--nav-button-hover-bg); */
}
#contact_list a {
    display: block;
}


/* Media queries */
@media screen and (max-width: 600px) {
    /* Main */
    #home { padding: 0 12px; }
    #home .home_block { width: 100%; margin: 0; }
    #home .home_hello { margin-bottom: 12px; }
    .skill { width: 100%; }

    /* Projects */
    .project > .inner, #skills_list { flex-direction: column; }
    .project .title_buttons { margin-top: 9px; }
    /* .project .title_buttons .button { max-width: unset; width: 100%; } */
    .project .title_buttons > .button:first-of-type { margin-left: 0; }

    .project h3:after { opacity: 1; transform: translate(-50%, 0px); }

    /* Contact */
    #contact_list > .right_col {
        max-width: unset;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media print {
    .big_title_accent {
        background-clip: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: black; 
        -moz-background-clip: none;
        -moz-text-fill-color: black;
    }
    .project { background: white !important; }
}