/* Light header */
/* Nav */
.light_header #nav.nav_transparent:not(.menu_open) { border-color: rgba(0, 0, 0, 0.5); }
.light_header #nav.nav_transparent:not(.menu_open) .nav_item { color: black; }
.light_header #nav.nav_transparent:not(.menu_open) .button_icon { filter: none; }

/* Header */
.light_header header .title_section h1 { color: black; }
.light_header .title_section #path a { color: rgb(40, 40, 40); }

/* Banner */
#banner {
    width: 100%;
    height: 320px;
    background-color: rgb(15, 15, 16);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: absolute;
    z-index: -1;
    top: 0;
}

/* Title */
header .title_section {
    /* height: 83px; */
    margin-top: 200px;
    padding-bottom: 12px;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}
header .title_section h1 {
    color: white;
    font-size: 32pt;
}
header .title_section #path { margin-left: 3px; }
header .title_section #path a { color: rgb(190, 190, 190); }
header .title_section #path a:hover { color: white; }

/* Main */
#main {
    width: 100%;
    /* text-align: justify; */

    gap: 24px;
    
    /* padding: 24px; */
    margin-bottom: 24px;
    /* background-color: var(--main-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px; */
}
/* Info */
.info_column {
    width: 100%;
    max-width: 220px;
    /* padding: 24px; */

    /* border-right: 1px solid var(--border-color); */
    padding-right: 20px;
    padding-bottom: 20px;

    flex-shrink: 0;
}
.info
.info_content {
    position: sticky;
    top: 64px;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
}
#box_art {
    background-color: var(--lighter-bg);

    width: 100%;
    /* min-height: 300px; */
    min-height: 215px;
    border-radius: 4px;
    margin-bottom: 6px;
}
/* Body */
.body_column {
    width: 100%;
    padding: 24px;
    background-color: var(--main-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px;
}
.body_column:not(:only-child) { padding-left: 20px; }
.user_card {
    background-color: var(--main-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px;
    padding: 6px 12px;
    align-items: center;
    
}
.user_card img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 12px;
    /* margin-bottom: 12px; */
}
.user_card p { margin: 0 !important; }

iframe {
    max-width: 100%;
}
iframe.container {
    width: 100%;
    max-width: 900px;
    height: 500px;
    padding: 0 !important;

    border: 1px solid var(--lighter-bg);
    border-radius: 6px;

    display: block;
    user-select: none;
    -webkit-user-select: none;
}

/* Article url button */
.article_url_button {
    opacity: 0;
    transition: 0.075s opacity ease;
}
article h2:hover .article_url_button { opacity: 0.7; }
article h2 .article_url_button:hover,
article h2 .article_url_button:focus-visible { opacity: 1; }
#copy_text { opacity: 0; position: fixed; pointer-events: none; height: 1px; width: 1px; }

/* Table of contents */
.table_of_contents {
    background-color: var(--lighter-bg);
    padding: 12px;
    border-radius: 6px;
}
.table_of_contents p {
    padding: 3px 0;
    margin: 0 !important;
    border-radius: 6px;
}
.table_of_contents p:hover {
    background-color: var(--lighter-bg);
    color: var(--text) !important;
}


/* Mobile layout */
@media screen and (max-width: 600px) {
    #banner { height: 400px; }
    #main, header .title_section { flex-direction: column; }
    .title_buttons { padding-top: 6px; }
    #main {
        border-radius: 0;
        border: none;
        border-top: 1px solid var(--border-color);
    }
    .info_column { 
        border: none;
        border-bottom: 1px solid var(--border-color);
        max-width: 100%;
        margin-bottom: 12px;
        padding-bottom: 0;
        padding-right: 0;
    }
    .body_column { padding: 12px 6px 0; }
    .info_content {
        position: unset;
        top: 64px;
        max-height: 312px;
        overflow: auto;
    }
}
