/* Light header */
/* Nav */
body:has(header.light_header) #nav.nav_transparent:not(.menu_open) { border-color: rgba(0, 0, 0, 0.5); }
body:has(header.light_header) #nav.nav_transparent:not(.menu_open) .nav_item { color: black; }
body:has(header.light_header) #nav.nav_transparent:not(.menu_open) .button_icon { filter: none; }

/* Header */
header.light_header .title_section { --shadow-color: gray; }
header.light_header .title_section h1 { color: black; }
header.light_header .title_section #path a { color: rgb(40, 40, 40); }

/* Banner */
#banner {
    width: 100%;
    height: 320px;
    background-color: rgb(15, 15, 16);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: absolute;
    z-index: -1;
    top: 0;
}

/* Title */
header .title_section {
    --shadow-color: rgba(0, 0, 0, 0.9);

    /* height: 83px; */
    margin-top: 200px;
    padding-bottom: 12px;
    text-shadow: 0 3px 12px var(--shadow-color);
    justify-content: space-between;
}
header .title_section .blog_title_container {
    height: 51px;
    position: relative;
}
header .title_section h1 {
    color: var(--night-text);
    font-size: 32pt;
    position: absolute;
    bottom: 0;
    max-width: 100%;
}
.title_left {
    width: 100%;
}
header .title_section #path { margin-left: 3px; margin-top: 3px; }
header .title_section #path a { color: var(--night-placeholder-text); }
header .title_section #path a:hover { color: white; } 

/* Main */
#main {
    width: 100%;
    /* text-align: justify; */

    gap: 12px;
    
    /* padding: 24px; */
    margin-bottom: 24px;
    /* background-color: var(--main-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px; */
}
/* Info */
.info_column {
    width: 100%;
    max-width: 220px;
    flex-shrink: 0;
}
/* .info */
.info_content {
    position: sticky;
    top: 64px;
    overflow-y: auto;
    max-height: calc(100vh - 90px);

    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info_content > *:first-child {
    background-color: var(--transparent-bg);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    border: 1px solid var(--border-darker);
    border-radius: 12px;
}
.user_card {
    padding: 6px 12px;
    align-items: center;
}
.user_card:hover,
.user_card:focus-visible {
    background-color: var(--lighter-bg);
    border-color: var(--text);
    text-decoration: none !important;
}
.user_card img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 12px;
    /* margin-bottom: 12px; */
}
.info_meta {
    padding: 6px 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
}
.info_meta p {
    margin: 0 !important;
}
#box_art {
    background-color: var(--lighter-bg);

    width: 100%;
    /* min-height: 300px; */
    min-height: 215px;
    border-radius: 4px;
    margin-bottom: 6px;
}
/* Body */
.body_column {
    width: 100%;
    padding: 24px 28px;
    background-color: var(--main-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px;
}
iframe {
    max-width: 100%;
}
iframe.container {
    width: 100%;
    max-width: 900px;
    height: 500px;
    padding: 0 !important;

    border: 1px solid var(--lighter-bg);
    border-radius: 6px;

    display: block;
    user-select: none;
    -webkit-user-select: none;
}

/* Article url button */
.article_url_button {
    opacity: 0;
    transition: 0.075s opacity ease;
}
article h2:hover .article_url_button { opacity: 0.7; }
article h2 .article_url_button:hover,
article h2 .article_url_button:focus-visible { opacity: 1; }
#copy_text { opacity: 0; position: fixed; pointer-events: none; height: 1px; width: 1px; }

/* Table of contents */
.table_of_contents {
    /* background-color: var(--lighter-bg); */
    /* padding: 12px; */
    border-radius: 12px;
    padding: 6px 12px;
}
.table_of_contents > ul {
    padding: 0;
    list-style-type: none;
}
.table_of_contents > ul > li {
    padding: 0;
    margin: 0;
}
.table_of_contents > ul > li > ul {
    margin: 0;
    margin-bottom: 9px;
}
.table_of_contents > ul > li > ul > li {
    padding: 0;
    margin-left: 21px;
}
.table_of_contents a {
    color: var(--secondary-color);
}
.table_of_contents a > p {
    padding: 3px 6px;
    margin: 0 !important;
    border-radius: 6px;
}
.table_of_contents a > p:hover {
    background-color: var(--lighter-bg);
    color: var(--text) !important;
}



/* Mobile layout */
@media screen and (max-width: 600px) {
    #main, header .title_section { flex-direction: column; }
    .title_buttons { padding-top: 6px; }
    #main {
        flex-direction: column-reverse;
        padding: 0 9px;
    }
    .info_column { 
        max-width: unset;
    }
    .info_content {
        position: unset;
        max-height: unset;
    }
    .info_meta {
        text-align: center;
    }
    .body_column {
        /* border-radius: 0; */
        border: none;
        /* border-top: 1px solid var(--border-darker); */
        padding: 12px 12px;
    }
}
